PORT=PORT_NUMBER

DB_URL=MONGODB_URL

ENVIRONMENT=development | production | testing

JWT_SECRET=YOUR_SECRET_JWT_CODE

CLOUDINARY_CLOUD_NAME=CONFIG_1
CLOUDINARY_API_KEY=CONFIG_2
CLOUDINARY_API_SECRET=CONFIG_3
CLOUDINARY_API_ENV=CONFIG_4